# title: Enable SSL on OpenStack Public Endpoints
# description: |
#   Use this environment to pass in certificates for SSL deployments.
#   For these values to take effect, one of the tls-endpoints-*.yaml environments
#   must also be used.
parameter_defaults:
  # The content of the SSL certificate (without Key) in PEM format.
  # Type: string
  SSLCertificate: |
    -----BEGIN CERTIFICATE-----
    <Overcloud Certificate Content Goes Here>
    -----END CERTIFICATE-----
 
  # The content of an SSL intermediate CA certificate in PEM format.
  # Type: string
  SSLIntermediateCertificate: ''
 
  # The content of the SSL Key in PEM format.
  # Mandatory. This parameter must be set by the user.
  # Type: string
  SSLKey: |
    -----BEGIN RSA PRIVATE KEY-----
    <Overcloud Private Key Content Goes Here>
    -----END RSA PRIVATE KEY-----
 
  # ******************************************************
  # Static parameters - these are values that must be
  # included in the environment but should not be changed.
  # ******************************************************
  # The filepath of the certificate as it will be stored in the controller.
  # Type: string
  DeployedSSLCertificatePath: /etc/pki/tls/private/overcloud_endpoint.pem
 
  # *********************
  # End static parameters
  # *********************
resource_registry:
  OS::TripleO::NodeTLSData: /usr/share/openstack-tripleo-heat-templates/puppet/extraconfig/tls/tls-cert-inject.yaml
