parameter_defaults:
  CephAnsiblePlaybookVerbosity: 3
  CephAnsibleExtraConfig:
    ceph_osd_docker_cpu_limit: 0  
  CephAnsibleDisksConfig:
    osd_objectstore: bluestore
    osd_scenario: lvm
    devices:
      - /dev/sdb
      - /dev/sdc
      - /dev/sdd
      - /dev/sde
      - /dev/sdf
      - /dev/sdg
