resource_registry:
  OS::TripleO::Services::Rhsm: /usr/share/openstack-tripleo-heat-templates/extraconfig/services/rhsm.yaml
parameter_defaults:
  RhsmVars:
    rhsm_repos:
      - rhel-7-server-rpms
      - rhel-7-server-extras-rpms
      - rhel-7-server-rh-common-rpms
      - rhel-ha-for-rhel-7-server-rpms
      - rhel-7-server-openstack-13-rpms
      - rhel-7-server-rhceph-3-osd-rpms
      - rhel-7-server-rhceph-3-mon-rpms
      - rhel-7-server-rhceph-3-tools-rpms

    # Username
    # rhsm_username: ""

    # Password
    # rhsm_password: ""

    # Portal Organization Identifier
    # rhsm_org_id: ""

    # Subscription pool IDs to consume
    # rhsm_pool_ids: ""

    # Activation Key
    # rhsm_activation_key: ""

    # Method to use for activation: portal or satellite.
    # If satellite, the role will determine the Satellite 
    # Server version and take the appropriate registration
    # actions.
    # rhsm_method: "satellite"

    # FQDN of subscription server
    # rhsm_server_hostname: ""

    # Port to use when connecting to subscription server
    # rhsm_rhsm_port: 443
    
    # RHS server prefix. /subscription when using portal
    # /rhsm when using satellite
    # rhsm_server_prefix: "/rhsm"

    # Base URL for conten
    # rhsm_baseurl: "https://cdn.redhat.com"

    # See https://github.com/openstack/ansible-role-redhat-subscription for a full list of options 
